#root {
    width: 1300px;
    margin: 0 auto;
}

.app {
    min-height: 700px;
    padding-top: 100px;
}

.footer {
    border-top: 1px solid gray;
    padding-top: 30px;
    margin-top: 20px;
}

.about img {
    max-width: 630px;

}

.about div.row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.app .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: red;
}

.about p, .vision .text-start{
    font-size: 20px;
}

.Container-fluid a{
    font-size: 20px;
}
